.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin-top: 32px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  padding: 0 40px;
}

.header__logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__username {
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 12px;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
}

.header__button {
  border: none;
  background-color: white;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin-right: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
}

.header__button:hover {
  cursor: pointer;
}
